<!--
  SHAAAAAAAAAAAAA

  Built and maintained by Eric Mill. (@konklone, konklone.com)

  A Node app, with Express for a web server. Open source, under a MIT license:
  https://github.com/konklone/shaaaaaaaaaaaaa

  Thanks to Mathias Bynens for the inspiration.
-->

<!doctype html>
<html lang="en">
<head>

<title>
  SHAAAAAAAAAAAAA | Do you have the latest SHA???
</title>
<meta name="description" content="Do you have the latest SHA???" />
<meta name="og:description" content="Do you have the latest SHA???" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="SHAAAAAAAAAAAAA.com">


<meta name="author" content="Eric Mill" />

<meta name="twitter:creator" content="@konklone" />
<meta name="twitter:creator:id" content="5232171" />
<meta name="twitter:site" content="@konklone" />
<meta name="twitter:site:id" content="5232171" />
<meta name="twitter:url" content="https://shaaaaaaaaaaaaa.com" />

<link rel="vcs-git" href="https://github.com/konklone/shaaaaaaaaaaaaa" title="code for shaaaaaaaaaaaaa.com" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="canonical" href="https://shaaaaaaaaaaaaa.com<%= req.originalUrl %>" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans|Average' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/pure-min-0.5.0.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css?<%= (new Date()).getTime() %>" />

</head>
<body>

<div id="main">

  Okay.

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-252618-19', 'shaaaaaaaaaaaaa.com');
  ga('send', 'pageview');

  // Anonymize user IPs (cut off the last triplet). Privacy first.
  ga('set', 'anonymizeIp', true);
</script>

</body>
</html>
