<!--
  SHAAAAAAAAAAAAA

  Built and maintained by Eric Mill. (@konklone, konklone.com)

  A Node app, with Express for a web server. Uses the openssl
  command line tool to download and analyze SSL certificates.

  Open source, under a MIT license:
  https://github.com/konklone/shaaaaaaaaaaaaa

  Thanks to Mathias Bynens for the inspiration.
-->

<!doctype html>
<html lang="en">
<head>

<title>
  SHAAAAAAAAAAAAA | Do you have the latest SHA???
</title>
<meta name="og:title" content="SHAAAAAAAAAAAAA | Do you have the latest SHA???" />
<meta name="description" content="Is your SSL using SHA-2? Probably not, but it really should be. Check your site here." />
<meta name="og:description" content="Is your SSL using SHA-2? Probably not, but it really should be. Check your site here." />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="SHAAAAAAAAAAAAA.com">


<meta name="author" content="Eric Mill" />

<meta name="twitter:creator" content="@konklone" />
<meta name="twitter:creator:id" content="5232171" />
<meta name="twitter:site" content="@konklone" />
<meta name="twitter:site:id" content="5232171" />
<meta name="twitter:url" content="https://shaaaaaaaaaaaaa.com" />

<meta name="og:image" content="https://shaaaaaaaaaaaaa.com/cicada.jpg" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="vcs-git" href="https://github.com/konklone/shaaaaaaaaaaaaa" title="code for shaaaaaaaaaaaaa.com" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="canonical" href="https://shaaaaaaaaaaaaa.com<%= req.originalUrl %>" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Average" rel="stylesheet" />
<link rel="stylesheet" href="/css/pure-min-0.5.0.css" />
<link rel="stylesheet" href="/css/main.css?<%= Date.now() %>" />

<script src="/js/jquery-2.1.1.min.js"></script>

</head>
<body>

<div id="main">

  <h1>SHAAAAAAAAAAAAA</h1>

  <header>
    <p>
      Most of the web's SSL certificates need to be replaced. Check yours.
    </p>
  </header>

  <div id="results">
    <div class="result form">
      <form action="#" class="pure-form" method="get">
        <input pattern="[\w\-\.]+" id="domain" name="domain" placeholder="yourdomainname.com" />
        <input type="submit" class="pure-button pure-button-primary" value="Go" />

        <span class="inline-block" id="loading">
          If it hangs, <a href="#" class="start-over">start over</a>.
        </span>

      </form>
    </div>

    <div class="result good">
      <p>
        <strong>Nice.</strong> <span class="domain"></span> is using a certificate signed with <span class="algorithm"></span>, a form of SHA-2. <a href="#" class="start-over">Start over.</a>
      </p>
    </div>

    <div class="result bad">
      <p>
        <strong>Dang.</strong> <span class="domain"></span> is using a certificate signed with <span class="algorithm"></span>. Make a new cert using SHA-2. <a href="#" class="start-over">Start over.</a>
      </p>
    </div>

    <div class="result error">
      <p>
        <strong>Argh.</strong> There was an error checking <span class="domain"></span>. <a href="#" class="start-over">Start over.</a>
      </p>
    </div>
  </div>

  <div class="lead">
    <p>
      Your SSL certificate was signed with a hashing algorithm &mdash; probably SHA-1.
    </p>

    <p>
      Which is too bad, because <strong>SHA-1 is <a href="http://arstechnica.com/security/2012/10/sha1-crypto-algorithm-could-fall-by-2018/">becoming dangerously weak</a></strong>, and <strong>SHA-2 is the replacement</strong>.
    </p>
  </div>

  <p>
    SHA-1 was <a href="https://www.schneier.com/blog/archives/2005/02/sha1_broken.html">first shown to be broken in 2005</a>, and one estimate suggests that in 2014 <a href="https://www.schneier.com/blog/archives/2012/10/when_will_we_se.html">it costs $1-2 million</a> to forge a SHA-1 certificate. For some actors, that's nothing.
  </p>

  <p>
    The only way to solve this is for everyone to turn off support for SHA-1. <a href="http://news.netcraft.com/archives/2014/05/05/sha-2-very-cryptographic-so-secure-such-growth-wow.html">That curve is bending</a>, but there's a long way to go.
  </p>
  <p>
    <a href="http://arstechnica.com/security/2013/11/hoping-to-avert-collision-with-disaster-microsoft-retires-sha1/">Microsoft</a>, <a href="https://groups.google.com/a/chromium.org/forum/#!msg/security-dev/2-R4XziFc7A/NDI8cOwMGRQJ">Chrome</a>, and <a href="https://wiki.mozilla.org/CA:Problematic_Practices#SHA-1_Certificates">Firefox</a> all recently deprecated SHA-1, and they've all promised dire consequences in 2016 and 2017. But they'll only be able to follow through on their threat to turn off SHA-1 if enough people update their certs by then.
  </p>

  <p>
    The Internet upgrades very slowly, so we all need to begin the transition <strong>right now</strong>, before it becomes an emergency.
  </p>

  <h2 id="sha2-certificate">Getting a SHA-2 certificate</h2>

  <p>
    It's usually very simple. You'll need to <a href="https://konklone.com/post/switch-to-https-now-for-free#generating-the-certificate">generate a new certificate request</a> that asks your CA to use SHA-2.
  </p>

  <p>
    <code>openssl req -new <strong>-sha256</strong> -key your-private.key -out your-domain.csr</code>
  </p>

  <p>
    If you use:
  </p>

  <ul>
    <li>
      <strong><a href="https://www.namecheap.com/security/ssl-certificates/domain-validation.aspx">Namecheap</a></strong>, choose a Comodo cert, because some of the others <a href="https://github.com/konklone/shaaaaaaaaaaaaa/issues/24#issuecomment-53441453">may not obey your SHA-2 request</a> unless you spend time with customer support.
    </li>
    <li>
      <strong><a href="https://www.godaddy.com/ssl/ssl-certificates.aspx">GoDaddy</a></strong>, they <a href="https://github.com/konklone/shaaaaaaaaaaaaa/issues/24#issuecomment-53438159">may still issue you a SHA-1 cert</a> at first. If so, you need to <a href="http://support.godaddy.com/help/article/4976/re-keying-an-ssl-certificate?locale=en">"re-key" your certificate</a> to get one signed with SHA-2.
    </li>
    <li>
      <strong><a href="https://www.startssl.com">StartSSL</a></strong> and have many certificates, you may find <a href="https://kuix.de/blog/index.php?entry=SSL/TLS-servers,-SHA-1/SHA-256-and-StartSSL.com-certificates">Kai Engert's trick</a> of using a fake subdomain to avoid revocation fees helpful. (Requires a paid class 2 identity verification.)
    </li>
    <li>
      <strong><a href="https://products.geotrust.com/orders/orderinformation/authentication.do">GeoTrust or RapidSSL</a></strong> and they mistakenly issue you a SHA-1 again, follow <a href="https://github.com/konklone/shaaaaaaaaaaaaa/issues/24#issuecomment-54021941">these instructions</a> to login to their portal and reissue your certificate.
    </li>
    <li>
      <strong><a href="http://www.gandi.net/support/contact/mail/">Gandi</a></strong>, please <strong><a href="http://www.gandi.net/support/contact/mail/">complain</a> to <a href="https://twitter.com/gandibar">them</a></strong> about <a href="https://twitter.com/mikewest/status/506395174566907904">not supporting SHA-2 certificates at all</a>.
    </li>
  </ul>

  <p>
    If you find other problems, please <a href="https://github.com/konklone/shaaaaaaaaaaaaa/issues/24">report them here</a> and I'll update the list above.
  </p>

  <h2 id="sha2-intermediate">Using SHA-2 intermediate certificates</h2>

  <p>
    When you created your certificate chain, you included one or more <a href="http://www.whichssl.com/intermediate_certificates2.html">intermediate certificates</a> from wherever you bought your cert, which may need to be updated. Check <a href="https://www.ssllabs.com/ssltest/analyze.html">SSL Labs</a> to see if you need to update.
  </p>

  <p>
    If you use:
  </p>

  <ul>
    <li>
      <strong><a href="https://www.startssl.com">StartSSL</a></strong>, download their updated SHA-2 certificates for whatever level you've paid for: <a href="https://www.startssl.com/certs/class1/sha2/pem/sub.class1.server.sha2.ca.pem">Class 1</a>, <a href="https://www.startssl.com/certs/class2/sha2/pem/sub.class2.server.sha2.ca.pem">Class 2</a>, <a href="https://www.startssl.com/certs/class3/sha2/pem/sub.class3.server.sha2.ca.pem">Class 3</a>, or <a href="https://www.startssl.com/certs/class4/sha2/pem/sub.ev.server.sha2.ca.pem">Class 4</a>.
    </li>

    <li>
      <strong><a href="https://knowledge.verisign.com/support/ssl-certificates-support/index?page=content&id=AR657&actp=LIST&viewlocale=en_US">Verisign / Symantec</a></strong>, their SHA-2 intermediates are listed under <strong>RSA SHA-2</strong>, at "SHA-2 Intermediate CAs under SHA-2 Root".
    </li>

    <li>
      <strong><a href="https://knowledge.geotrust.com/support/knowledge-base/index?page=content&id=AR1421&actp=LIST&viewlocale=en_US">GeoTrust</a></strong>, their SHA-2 intermediates are listed under <strong>RSA SHA-2</strong>, at "SHA-2 Intermediate CAs under SHA-2 Root".
    </li>
  </ul>

  <h2 id="credits">Credits</h2>

  <p>
    Made by <a href="https://twitter.com/konklone">Eric Mill</a>, released as <a href="https://github.com/konklone/shaaaaaaaaaaaaa">open source</a> &mdash; please <a href="https://github.com/konklone/shaaaaaaaaaaaaa/issues">fix and improve</a> this site!
  </p>

  <p>
    Thanks to <a href="https://twitter.com/mathias">Mathias Bynens</a>, <a href="https://twitter.com/jmayer">Justin Mayer</a>, and <a href="https://twitter.com/jonnybarnes">Jonny Barnes</a> for inspiration and assistance.
  </p>

</div>

<script>

var hasPushstate = Boolean(window.history && history.pushState);

$("form").on("submit", function(event) {
  var domain = $("#domain").val();
  if (domain) {
    var escaped = domain.replace(/^https?:\/\//i, "").replace(/[^\w\.\-]/g, "");
    checkDomain(escaped);
    if (hasPushstate) {
      history.pushState(escaped, null, "/check/" + escaped);
    }
  }
  event.preventDefault();
});

$(window).on("popstate", function(event) {
  var domain = event.originalEvent.state;
  if (domain) {
    checkDomain(domain);
  } else {
    startOver();
  }
});

var display = {
  "sha256": "SHA-256",
  "sha512": "SHA-512",
  "sha384": "SHA-384",
  "sha224": "SHA-224",
  "sha1": "SHA-1",
  "md5": "MD5",
  "md2": "MD2"
};

var checkDomain = function(domain) {
  console.log("Checking domain: " + domain);

  $.ajax({url: "/api/check/" + domain})
  .done(function(data) {
    console.log(data);
    hideLoading();

    $("#results .result .algorithm").html(display[data.algorithm]);
    $("#results .result .domain").html(domain);

    if (data.good) {
      $("#results .result").hide();
      $("#results .result.good").show();
    } else {
      $("#results .result").hide();
      $("#results .result.bad").show();
    }

  })
  .fail(function(xhr) {
    hideLoading();

    $("#results .result .domain").html(domain);

    $("#results .result").hide();
    $("#results .result.error").show();
  });

  showLoading();
};

var showLoading = function() {
  $("#domain").attr("disabled", true);
  $("input[type=submit]")
    .attr("disabled", true)
    .val("Checking...");
  $("#loading").css("display", "inline-block");
};

var hideLoading = function() {
  $("#loading").hide();
  $("#domain").attr("disabled", false);
  $("input[type=submit]")
    .attr("disabled", false)
    .val("Go");

  clearTimeout(loading);
};

var startOver = function() {
  hideLoading();
  $("#results .result").hide();
  $("#results .result.form").show();
  $("#domain").select().focus();

  return false;
}
$(".start-over").on("click", startOver);

<% if (domain) { %>
var domain = "<%= helpers.escape_attribute(domain) %>";
<% } else { %>
var domain = null;
<% } %>

$(function() {
  if (domain) {
    $("#domain").val(domain);
    checkDomain(domain);
  }
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-252618-19', 'shaaaaaaaaaaaaa.com');
  ga('send', 'pageview');

  // Anonymize user IPs (cut off the last triplet). Privacy first.
  ga('set', 'anonymizeIp', true);
</script>

</body>
</html>
