<!--
  SHAAAAAAAAAAAAA

  Built and maintained by Eric Mill. (@konklone, konklone.com)

  A Node app, with Express for a web server. Uses the openssl
  command line tool to download and analyze SSL certificates.

  Open source, under a MIT license:
  https://github.com/konklone/shaaaaaaaaaaaaa

  Thanks to Mathias Bynens for the inspiration.
-->

<!doctype html>
<html lang="en">
<head>

<title>
  SHAAAAAAAAAAAAA | Do you have the latest SHA???
</title>
<meta name="og:title" content="SHAAAAAAAAAAAAA | Do you have the latest SHA???" />
<meta name="description" content="Is your SSL using SHA-2? Probably not, but it really should be. Check your site here." />
<meta name="og:description" content="Is your SSL using SHA-2? Probably not, but it really should be. Check your site here." />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:site_name" content="SHAAAAAAAAAAAAA.com">


<meta name="author" content="Eric Mill" />

<meta name="twitter:creator" content="@konklone" />
<meta name="twitter:creator:id" content="5232171" />
<meta name="twitter:site" content="@konklone" />
<meta name="twitter:site:id" content="5232171" />
<meta name="twitter:url" content="https://shaaaaaaaaaaaaa.com" />

<meta name="og:image" content="https://shaaaaaaaaaaaaa.com/cicada.jpg" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="vcs-git" href="https://github.com/konklone/shaaaaaaaaaaaaa" title="code for shaaaaaaaaaaaaa.com" />

<link rel="shortcut icon" href="/favicon.png" />
<link rel="canonical" href="https://shaaaaaaaaaaaaa.com<%= req.originalUrl %>" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Average" rel="stylesheet" />
<link rel="stylesheet" href="/css/pure-min-0.5.0.css" />
<link rel="stylesheet" href="/css/main.css?<%= Date.now() %>" />

<script src="/js/jquery-2.1.1.min.js"></script>

</head>
<body>

<div id="main">

  <h1>SHAAAAAAAAAAAAA</h1>

  <p>
    Check if your site's SSL certificate is using SHA-1 or SHA-2.
  </p>

  <div id="results">
    <div class="result form">
      <form action="#" class="pure-form" method="get">
        <input pattern="[\w\-\.]+" id="domain" name="domain" placeholder="yourdomainname.com" />
        <input type="submit" class="pure-button pure-button-primary" value="Go" />

        <span class="inline-block" id="loading">
          If it hangs, <a href="#" class="start-over">start over</a>.
        </span>

      </form>
    </div>

    <div class="result good">
      <p>
        <strong>Nice.</strong> <span class="domain"></span> is using a certificate signed with <span class="algorithm"></span>, a form of SHA-2. <a href="#" class="start-over">Start over.</a>
      </p>
    </div>

    <div class="result bad">
      <p>
        <strong>Dang.</strong> <span class="domain"></span> is using a certificate signed with <span class="algorithm"></span>. Make a new cert using SHA-2. <a href="#" class="start-over">Start over.</a>
      </p>
    </div>

    <div class="result error">
      <p>
        <strong>Argh.</strong> There was an error checking <span class="domain"></span>. <a href="#" class="start-over">Start over.</a>
      </p>
    </div>
  </div>

  <div class="lead">
    <p>
      Your SSL certificate was signed using a one-way hashing algorithm when it was created. It was probably SHA-1.
    </p>

    <p>
      Which is too bad, because <strong>SHA-1 is becoming dangerously weak</strong>, and <strong>SHA-2 is the replacement</strong>.
    </p>
  </div>

  <h3>My bank uses SHA-1. Am I in danger?</h3>

  <p>
    Probably not, for now. SHA-1 is getting weaker every year, but in the near term it's likely to be breakable only against very high profile targets.
  </p>

  <p>
    But the Internet upgrades very slowly, so what's more urgent is that we all begin the transition <strong>now</strong>.
  </p>

  <h3>My site isn't that important. Do I have to care?</h3>

  <p>
    <strong>Yes.</strong> Be a part of the solution.
  </p>

  <p>
    SHA-1 was <a href="https://www.schneier.com/blog/archives/2005/02/sha1_broken.html">broken in 2005</a>, and one estimate suggests that in 2014 <a href="https://www.schneier.com/blog/archives/2012/10/when_will_we_se.html">it costs $1-2 million</a> to forge a SHA-1 certificate. For some actors, that's nothing.
  </p>

  <p>
    <a href="http://blogs.technet.com/b/pki/archive/2013/11/12/sha1-deprecation-policy.aspx">Microsoft</a>, <a href="https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/2-R4XziFc7A/YO0ZSrX_X4wJ">Chrome</a>, and <a href="https://wiki.mozilla.org/CA:Problematic_Practices#SHA-1_Certificates">Firefox</a> recently deprecated SHA-1. They've promised dire consequences in 2016 and 2017, but they'll only be able to follow through on their threat to distrust SHA-1 if enough people update their certs before then.
  </p>

  <p>
    If you're using a SHA-1 cert, take a few minutes and <a href="https://konklone.com/post/switch-to-https-now-for-free#generating-the-certificate">generate a new one</a> with SHA-2.
  </p>

  <p>
    <code>openssl req -new -sha256 -key your-private.key -out your-domain.csr</code>
  </p>

  <h3>Credits</h3>

  <p>
    Made by <a href="https://twitter.com/konklone">Eric Mill</a>, released as <a href="https://github.com/konklone/shaaaaaaaaaaaaa">open source</a>. Thanks to <a href="https://twitter.com/mathias">Mathias Bynens</a> for inspiration and assistance.
  </p>

</div>

<script>

var hasPushstate = Boolean(window.history && history.pushState);

$("form").on("submit", function(event) {
  var domain = $("#domain").val();
  if (domain) {
    var escaped = domain.replace(/^https?:\/\//i, "").replace(/[^\w\.\-]/g, "");
    checkDomain(escaped);
    if (hasPushstate) {
      history.pushState(escaped, null, "/check/" + escaped);
    }
  }
  event.preventDefault();
});

$(window).on("popstate", function(event) {
  var domain = event.originalEvent.state;
  if (domain) {
    checkDomain(domain);
  } else {
    startOver();
  }
});

var display = {
  "sha256": "SHA-256",
  "sha512": "SHA-512",
  "sha384": "SHA-384",
  "sha224": "SHA-224",
  "sha1": "SHA-1",
  "md5": "MD5",
  "md2": "MD2"
};

var checkDomain = function(domain) {
  console.log("Checking domain: " + domain);

  $.ajax({url: "/api/check/" + domain})
  .done(function(data) {
    console.log(data);
    hideLoading();

    $("#results .result .algorithm").html(display[data.algorithm]);
    $("#results .result .domain").html(domain);

    if (data.good) {
      $("#results .result").hide();
      $("#results .result.good").show();
    } else {
      $("#results .result").hide();
      $("#results .result.bad").show();
    }

  })
  .fail(function(xhr) {
    hideLoading();

    $("#results .result .domain").html(domain);

    $("#results .result").hide();
    $("#results .result.error").show();
  });

  showLoading();
};

var showLoading = function() {
  $("#domain").attr("disabled", true);
  $("input[type=submit]")
    .attr("disabled", true)
    .val("Checking...");
  $("#loading").css("display", "inline-block");
};

var hideLoading = function() {
  $("#loading").hide();
  $("#domain").attr("disabled", false);
  $("input[type=submit]")
    .attr("disabled", false)
    .val("Go");

  clearTimeout(loading);
};

var startOver = function() {
  hideLoading();
  $("#results .result").hide();
  $("#results .result.form").show();
  $("#domain").select().focus();

  return false;
}
$(".start-over").on("click", startOver);

<% if (domain) { %>
var domain = "<%= helpers.escape_attribute(domain) %>";
<% } else { %>
var domain = null;
<% } %>

$(function() {
  if (domain) {
    $("#domain").val(domain);
    checkDomain(domain);
  }
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-252618-19', 'shaaaaaaaaaaaaa.com');
  ga('send', 'pageview');

  // Anonymize user IPs (cut off the last triplet). Privacy first.
  ga('set', 'anonymizeIp', true);
</script>

</body>
</html>
